.header {
  display: flex;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid #7777ff;
  align-items: center;
  padding-inline: 15vw;
  padding-block: 12px;
  opacity: 0.8;
}

.header_buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}
.header_button {
  transition: all 0.1 ease-in-out;
}
.header_button:hover {
  filter: brightness(1.05);
}

.header_button:active {
  filter: brightness(1.1);
}

.profile_button_background {
  background-color: #e0e0e0;
  padding: 4px;
  border-radius: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: #656565 solid 1px;
}

.profile_button_background:active {
  background-color: #d5d5d5;
}

.menu_popup {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background-color: #ffffff;
}

.user_box {
  display: flex;
  flex-direction: row;
  padding-inline: 12px;
  padding-block: 10px;
}

.user_box_profile_picture {
  width: 2vw;
  height: 2vw;
  border-radius: 1vw;
}

.user_box_user_data {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 10px;
}

.user_box_nickname {
  font-size: 1vw;
  color: #000000;
  font-weight: bold;
  margin-bottom: 3px;
}

.user_box_description {
  font-size: 0.8vw;
  color: #000000;
}

.menu_options {
  display: flex;
  flex-direction: row;
  /*border-top: 0.5px solid #959595;*/
}

.menu_options_button {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  user-select: none;
}

.menu_options_button:hover {
  background-color: #f2f2f2;
}

.menu_options_button:active {
  background-color: #f0f0f0;
}

.menu_options_button_text {
  font-size: 1vw;
  color: #000000;
  font-weight: bold;
}

@media only screen and (max-width: 1100px) {
  .header {
    padding-inline: 2vw;
  }
}

@media only screen and (max-width: 450px) {
  .header {
    padding-inline: 8px;
  }
}
