.main_div {
  margin-inline: 12vw;
  border-radius: 10px;
  display: flex;
  background-color: #ffffff;
  flex-direction: row;
  justify-content: center;
  box-shadow: 0 0.3px 2.2px rgba(0, 0, 0, 0.02),
    0 0.7px 5.3px rgba(0, 0, 0, 0.028), 0 1.4px 10px rgba(0, 0, 0, 0.035),
    0 2.5px 17.9px rgba(0, 0, 0, 0.042), 0 4.6px 33.4px rgba(0, 0, 0, 0.05),
    0 10px 80px rgba(0, 0, 0, 0.07);
}

.form_div {
  flex: 1;
  padding-block: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.picture_div {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 16px;
  height: "100%";
  font-family: Arial;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.motto_text {
  color: #ffffff;
  font-size: 1.5vw;
  font-weight: bold;
}

.bottom_text {
  color: #ffffff;
  font-size: 1vw;
  align-self: flex-end;
}

.title {
  font-size: 2vw;
  color: #000000;
}

.instruction {
  font-size: 14px;
  color: #959595;
  margin-block: 16px;
}

.input {
  color: #000000;
  width: fit-content;
  font-size: 1vw;
  background: none;
  margin-right: 12px;
  outline: none;
  border: none;
  border-bottom: 1.5px solid #959595;
  padding-inline: 10px;
  padding-block: 8px;
  margin-block: 12px;
}

.input:hover {
  border-color: #a2a2a2;
}

.input:focus {
  border-color: #25274d;
}

.back_button {
  margin-inline: 12vw;
}

@media only screen and (max-width: 1100px) {
  .main_div {
    margin-inline: 8px;
  }
  .back_button {
    margin-inline: 24px;
  }
  .input {
    font-size: 14px;
  }
  .title {
    font-size: 21px;
  }
  .motto_text {
    font-size: 16px;
  }
  .bottom_text {
    font-size: 16px;
  }
}

@media only screen and (max-width: 600px) {
  .input {
    font-size: 10px;
  }
  .motto_text {
    font-size: 14px;
  }
  .bottom_text {
    font-size: 14px;
  }
  .form_div {
    flex: 2;
  }
}

@media only screen and (max-height: 750px) {
  .form_div {
    padding-block: 10%;
  }
}